<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\BancoDados.mdf;Initial Catalog=SysFin_2CTDS_DB;Integrated Security=True;" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>